# Exercício 1:

In [3]:
# a) Crie uma variável chamada nome e atribua o seu nome a ela.

meu_nome = "Davi Coradini Costa"
meu_nome

'Davi Coradini Costa'

In [9]:
# b) Crie uma variável chamada idade e atribua sua idade a ela.

minha_idade = "22 anos"
minha_idade

'22 anos'

In [5]:
# c) Crie uma variável chamada altura e atribua sua altura (em metros) a ela.

minha_altura = "1.79"
minha_altura

'1.79'

In [11]:
# d) Mostre na tela a concatenação das informações: "Meu nome é [nome], tenho [idade] anos e minha altura é [altura] metros.

print("Meu nome é {nome}, tenho {idade} anos e minha altura é {altura} metros.". format(nome = meu_nome, idade = minha_idade, altura = minha_altura))

Meu nome é Davi Coradini Costa, tenho 22 anos anos e minha altura é 1.79 metros.

# Exercício 2:

In [15]:
# a) Crie uma variável chamada frase

frase = "Python é uma linguagem de programação muito poderosa."
frase

'Python é uma linguagem de programação muito poderosa.'

In [17]:
# b) Utilize o método .upper() para transformar toda a frase em maiúsculas e imprima o resultado.

frase.upper()

'PYTHON É UMA LINGUAGEM DE PROGRAMAÇÃO MUITO PODEROSA.'

In [19]:
# c) Utilize o método .lower() para transformar toda a frase em minúsculas e imprima oresultado.

frase.lower()

'python é uma linguagem de programação muito poderosa.'

In [21]:
# d) Utilize o método .replace() para substituir a palavra "muito" por "extremamente". Imprima o resultado.

substituir = frase.replace("muito", "extremamente")
substituir

'Python é uma linguagem de programação extremamente poderosa.'

In [23]:
# e) Utilize o método .split() para dividir a frase em palavras e imprima o resultado como uma lista.

"Python é uma linguagem de programação muito poderosa.".split()

['Python', 'é', 'uma', 'linguagem', 'de', 'programação', 'muito', 'poderosa.']

In [27]:
"Python é uma linguagem de programação extremamente poderosa.".split()

['Python',
 'é',
 'uma',
 'linguagem',
 'de',
 'programação',
 'extremamente',
 'poderosa.']

# Exercício 3:

In [31]:
# a) Crie uma lista chamada frutas contendo os seguintes itens: "maçã", "banana", "laranja","uva", "abacaxi".

frutas = ["maçã", "banana", "laranja","uva", "abacaxi"]

In [33]:
# b) Imprima a lista frutas.

frutas

['maçã', 'banana', 'laranja', 'uva', 'abacaxi']

In [35]:
# c) Adicione o item "manga" à lista frutas utilizando o método .append() e imprima a lista novamente.

frutas = ["maçã", "banana", "laranja","uva", "abacaxi"]
frutas.append("manga")
frutas

['maçã', 'banana', 'laranja', 'uva', 'abacaxi', 'manga']

In [41]:
# d) Remova o item "laranja" da lista frutas utilizando o método .remove() e imprima a lista.

frutas = ["maçã", "banana", "laranja", "uva", "abacaxi", "manga"]
frutas.remove("laranja")
frutas

['maçã', 'banana', 'uva', 'abacaxi', 'manga']

In [39]:
# e) Acesse o terceiro item da lista frutas (lembrando que as listas começam em 0) e imprima-o.
# Com laranja

frutas = ["maçã", "banana", "laranja", "uva", "abacaxi", "manga"]
terceira_fruta = frutas[2]
terceira_fruta

'laranja'

In [43]:
# f) Sem laranja

frutas = ["maçã", "banana", "uva", "abacaxi", "manga"]
fruta_3 = frutas[2]
fruta_3

'uva'

In [45]:
# g) Ordene a lista frutas em ordem alfabética utilizando o método .sort() e imprima a lista.

frutas = ["maçã", "banana", "laranja", "uva", "abacaxi", "manga"]
frutas.sort()
frutas

['abacaxi', 'banana', 'laranja', 'manga', 'maçã', 'uva']

In [47]:
# h) Crie uma lista chamada numeros com os valores [10, 5, 8, 3, 6]. Utilize a função sum() para calcular a soma de todos os elementos dessa lista e imprima o resultado.

lista = [10, 5, 8, 3, 6]
soma = sum(lista)
print(soma)

32

# Exercício 4:

In [51]:
# a) Crie um dicionário chamado pessoa com as seguintes chaves e valores:"nome": "Carlos" "idade": 30 "cidade": "São Paulo"

pessoa = {"nome":"Carlos", "idade":30, "Cidade": "São Paulo"}

In [53]:
pessoa

{'nome': 'Carlos', 'idade': 30, 'Cidade': 'São Paulo'}

In [55]:
# b)  Acesse e imprima o valor associado à chave "nome".

pessoa.pop('nome')

'Carlos'

In [57]:
# c) Altere a idade de "Carlos" para 31 e imprima o dicionário novamente.

pessoa['idade'] = '31'

In [59]:
pessoa

{'idade': '31', 'Cidade': 'São Paulo'}

In [61]:
# d) Adicione uma nova chave "profissão" ao dicionário com o valor "engenheiro". Imprima o dicionário atualizado.

pessoa['profissão'] = "Engenheiro"

In [63]:
pessoa

{'idade': '31', 'Cidade': 'São Paulo', 'profissão': 'Engenheiro'}

# Exercício 5:

In [65]:
# a) Crie uma tupla chamada cores contendo as seguintes cores: "vermelho", "azul", "verde","amarelo", "roxo".

cores = ("vermelho", "azul", "verde","amarelo", "roxo")

In [67]:
# b) Imprima a tupla cores.

print(cores)

('vermelho', 'azul', 'verde', 'amarelo', 'roxo')

In [69]:
# c) Acesse e imprima o segundo item da tupla cores.

cores = ("vermelho", "azul", "verde","amarelo", "roxo")
cores_2 = cores[1]
cores_2

'azul'

In [71]:
# d) Verifique se a cor "azul" está presente na tupla cores e imprima True ou False dependendo da resposta.

verificar = "azul" in cores
verificar

True

In [73]:
verificar = "blue" in cores
verificar

False

In [75]:
# e) Crie uma tupla chamada numeros contendo os números (1, 2, 3, 4, 5)

numeros = (1, 2, 3, 4, 5)
numeros

(1, 2, 3, 4, 5)

In [77]:
# f) Some todos os elementos da tupla numeros e imprima o resultado.

numeros = (1, 2, 3, 4, 5)
soma = sum(numeros)
soma

15

In [83]:
# g) Tente alterar o valor do terceiro item da tupla cores para "laranja". O que acontece? Explique por que não é possível alterar um valor em uma tupla.

cores = ("vermelho", "azul", "verde","amarelo", "roxo")
troca[2] = "laranja"
troca

NameError: name 'troca' is not defined

### Em Python, uma tupla é imutável, o que significa que, depois de criada, seus elementos não podem ser modificados. Se você tentar alterar algum valor dentro dela, o Python retornará um erro, pois não permite essa operação.

In [88]:
# h) Crie uma nova tupla chamada nova_cores que seja a concatenação da tupla cores com uma nova tupla ("preto", "branco") e imprima o resultado.

cores = ("vermelho", "azul", "verde","amarelo", "roxo")
nova_tupla_cores = ("preto", "branco")
nova_cores = cores + nova_tupla_cores
nova_cores

('vermelho', 'azul', 'verde', 'amarelo', 'roxo', 'preto', 'branco')

# Exercício 6:

In [96]:
# Crie um programa que receba a altura e o peso de uma pessoa e imprima seu IMC

peso = float(input("Digite seu peso (em kg): "))
altura = float(input("Digite sua altura (em metros): "))

imc = peso / (altura ** 2)

print(f"O seu IMC é: {imc:.2f}")

Digite seu peso (em kg):  92
Digite sua altura (em metros):  1.79

O seu IMC é: 28.71

# Exercício 7:

In [98]:
# Escreva um programa que pergunte o nome completo do usuário e o cumprimente pelo primeiro nome

nome_completo = input("Digite seu nome completo: ")

primeiro_nome = nome_completo.split()[0]

print(f"Olá, {primeiro_nome}!")

Digite seu nome completo:  Davi Coradini Costa

Olá, Davi!

# Exercício 8:

In [100]:
# Escreva um código que extraia o domínio de um e-mail informado

email = input("Digite seu email: ")

menos_dominio = email.split("@")[1]

print(f"O domínio do e-mail é: {menos_dominio}")

Digite seu email:  davicoradinic@gmail.com

O domínio do e-mail é: gmail.com